# ML CLUB - UBT

### by: Mohammed Almelabi

##Pandas_Series

##Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.)

#Pandas Series is nothing but a column in an excel sheet.

In [1]:
import pandas as pd
import numpy as np

In [9]:
labels = ['a','b','c','d']
my_list=[10,20,30,40]
d = {'a':10,'b':20,'c':30,'d':40}

In [3]:
pd.Series(data=my_list)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
pd.Series(my_list,labels)

a    10
b    20
c    30
d    40
dtype: int64

In [5]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
d    40
dtype: int64

In [6]:
arr = np.array(my_list)
arr

array([10, 20, 30, 40])

In [7]:
pd.Series(arr)

0    10
1    20
2    30
3    40
dtype: int64

In [8]:
pd.Series(arr,labels)

a    10
b    20
c    30
d    40
dtype: int64

In [10]:
pd.Series(d)

a    10
b    20
c    30
d    40
dtype: int64

In [11]:
pd.Series(data=labels)

0    a
1    b
2    c
3    d
dtype: object

In [12]:
ds = pd.Series([2, 5, 7, 8, 12])   # List to Series
print(ds)

0     2
1     5
2     7
3     8
4    12
dtype: int64

In [13]:
arr = np.array([2, 5, 7, 8, 12])   #Tuple to Series
  
# forming series 
s = pd.Series(arr) 
s

0     2
1     5
2     7
3     8
4    12
dtype: int64

In [14]:
print(type(ds))

<class 'pandas.core.series.Series'>

In [15]:
print(ds.tolist())

[2, 5, 7, 8, 12]

In [16]:
ds1 = pd.Series([4, 6, 8, 10,11])
ds2 = pd.Series([3, 5, 7, 9,12])

In [17]:
ds = ds1 + ds2
ds

0     7
1    11
2    15
3    19
4    23
dtype: int64

In [18]:
ds = ds1 - ds2
ds

0    1
1    1
2    1
3    1
4   -1
dtype: int64

In [19]:
ds = ds1 * ds2
ds

0     12
1     30
2     56
3     90
4    132
dtype: int64

In [20]:
ds = ds1 / ds2
ds

0    1.333333
1    1.200000
2    1.142857
3    1.111111
4    0.916667
dtype: float64

In [21]:
print(ds1 == ds2)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [22]:
print(ds1 > ds2)

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [23]:
print(ds1 < ds2)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [24]:
d1 = {'a': 1000, 'b': 2000, 'c':3000, 'd':4000, 'e':8000}
d1

{'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000, 'e': 8000}

In [25]:
new_series = pd.Series(d1)
new_series

a    1000
b    2000
c    3000
d    4000
e    8000
dtype: int64

In [26]:
s1 = pd.Series(['1030', '2003', 'python3', '3030.12', '4030'])
s1

0       1030
1       2003
2    python3
3    3030.12
4       4030
dtype: object

In [27]:
s2 = pd.to_numeric(s1, errors='coerce')
s2

0    1030.00
1    2003.00
2        NaN
3    3030.12
4    4030.00
dtype: float64

In [28]:
new_s = pd.Series(s2).sort_values()
new_s

0    1030.00
1    2003.00
3    3030.12
4    4030.00
2        NaN
dtype: float64

In [29]:
new_s = s2.append(pd.Series(['500', 'php']))
new_s

0     1030.0
1     2003.0
2        NaN
3    3030.12
4     4030.0
0        500
1        php
dtype: object

In [30]:
a = np.array(s1.values.tolist())
a

array(['1030', '2003', 'python3', '3030.12', '4030'], dtype='<U7')

In [31]:
s = pd.Series([ ['Red', 'Green', 'White'],['Red', 'Black', 'White'], ['Yellow']])

In [32]:
s = s.apply(pd.Series).stack().reset_index(drop=True)
s

0       Red
1     Green
2     White
3       Red
4     Black
5     White
6    Yellow
dtype: object

In [33]:
s = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
s

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [34]:
n = 5
new_s = s[s > n]
new_s

6      6
7      7
8      8
9      9
10    10
dtype: int64

In [35]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
s

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [36]:
s = s.reindex(index = ['B','A','C','D','E'])
s

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [37]:
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

In [38]:
s.mean()

4.818181818181818

In [39]:
s.std()

2.522624895547565

In [40]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])

In [41]:
pd.Series(np.union1d(sr1, sr2))

0     1
1     2
2     3
3     4
4     5
5     6
6     8
7    10
dtype: int64

In [42]:
pd.Series(np.intersect1d(sr1, sr2))

0    2
1    4
dtype: int64

In [43]:
series_1 = pd.Series([2, 4, 6, 8]) 
series_2 = pd.Series([10, 12, 14, 16]) 
   
# adding series_2 to series_1 using the append() function 
series_1 = series_1.append(series_2, ignore_index = True) 
  
# displaying series_1 
print(series_1)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
dtype: int64

In [44]:
series_1 = pd.Series([2, 4, 6, 8]) 
series_2 = pd.Series([10, 12, 14, 16]) 

series_1 = pd.concat([series_1, series_2])
series_1

0     2
1     4
2     6
3     8
0    10
1    12
2    14
3    16
dtype: int64

In [50]:
result = series_1.value_counts()
result

16    1
2     1
4     1
6     1
8     1
10    1
12    1
14    1
dtype: int64

In [51]:
series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series2 = pd.Series([1, 3, 5, 7, 10])

In [52]:
result = [pd.Index(series1).get_loc(i) for i in series2]
result

[0, 2, 4, 6, 9]

In [53]:
series1 = pd.Series(['Php', 'Python', 'Java', 'C#'])

In [54]:
result = series1.map(lambda x: len(x))
result

0    3
1    6
2    4
3    2
dtype: int64

In [55]:
series1 = pd.Series([1, 3, 5, 8, 10, 11, 15])

In [56]:
print(series1.diff().tolist())

[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]

In [57]:
result = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
result

0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

In [58]:
# make an array 
array = [2, 4, 6, 8, 10, 12] 
  
# create a series 
series_obj = pd.Series(array) 
  
# convert series object into array 
arr = series_obj.values 
  
# reshaping series  
reshaped_arr = arr.reshape((3, 2)) 
  
# show  
reshaped_arr

array([[ 2,  4],
       [ 6,  8],
       [10, 12]])

In [59]:
# making list of values 
values = [3, 4, np.nan, 7, 2, 0] 
  
# making series from list 
series = pd.Series(values) 
  
# calling method 
cumsum = series.cumsum() 
  
# display 
cumsum

0     3.0
1     7.0
2     NaN
3    14.0
4    16.0
5    16.0
dtype: float64

In [60]:
cumsum = series.cumsum(skipna = False) 
  
# display 
cumsum

0    3.0
1    7.0
2    NaN
3    NaN
4    NaN
5    NaN
dtype: float64

In [61]:
cumprod = series.cumprod()  
    
# display  
cumprod

0      3.0
1     12.0
2      NaN
3     84.0
4    168.0
5      0.0
dtype: float64

In [62]:
cumprod = series.cumprod(skipna = False)  
    
# display  
cumprod

0     3.0
1    12.0
2     NaN
3     NaN
4     NaN
5     NaN
dtype: float64

In [63]:
#Mean Absolute Deviation of a Series

list =[5, 12, 1, 10, 4, 22, 15, 3, 9] 
 
series = pd.Series(list) 
  
# calling .mad() method 
result = series.mad() 
  
result

5.111111111111111

In [64]:
# making list of values  
values = [3, 4, np.nan, 7, 2, 0]  
    
# making series from list  
series = pd.Series(values)  
    
# calling method  
cummax = series.cummax()  
    
# display  
cummax

0    3.0
1    4.0
2    NaN
3    7.0
4    7.0
5    7.0
dtype: float64

In [65]:
cummax = series.cummax(skipna = False)  
    
# display  
cummax

0    3.0
1    4.0
2    NaN
3    NaN
4    NaN
5    NaN
dtype: float64

In [66]:
values = [3, 4, np.nan, 7, 2, 0]  
    
# making series from list  
series = pd.Series(values)  
    
# calling method  
cummin = series.cummin()  
    
# display  
cummin

0    3.0
1    3.0
2    NaN
3    3.0
4    2.0
5    0.0
dtype: float64

In [67]:
cummin = series.cummin(skipna = False)  
    
# display  
cummin

0    3.0
1    3.0
2    NaN
3    NaN
4    NaN
5    NaN
dtype: float64

#DataFrame:- DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

In [68]:
import pandas as pd
import numpy as np

In [69]:
mhm_web= {'Day':[1,2,3,4,5], "Visitors":[1000,700,6000,1000,400],"Bounce_Rate":[20,20,23,15,10]}

In [70]:
df= pd.DataFrame(mhm_web)

In [71]:
print(df)

   Day  Visitors  Bounce_Rate
0    1      1000           20
1    2       700           20
2    3      6000           23
3    4      1000           15
4    5       400           10

In [72]:
print(df[['Day', 'Bounce_Rate']])

   Day  Bounce_Rate
0    1           20
1    2           20
2    3           23
3    4           15
4    5           10

In [73]:
#Convert dataframe to Numpy array

In [74]:
lst = ['a', 'b', 'c', 'd', 'e']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

   0
0  a
1  b
2  c
3  d
4  e

In [75]:
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [35, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, np.nan]}
 
# creating a dataframe from list
df = pd.DataFrame(dict)
 
# using isnull() function  
df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True         True

In [76]:
df.fillna(0)

   First Score  Second Score  Third Score
0        100.0          35.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0          0.0

In [77]:
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [35, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, np.nan]}
 
# creating a dataframe from list
df = pd.DataFrame(dict)
df

   First Score  Second Score  Third Score
0        100.0          35.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN          NaN

In [78]:
df.dropna()

   First Score  Second Score  Third Score
1         90.0          45.0         40.0

In [79]:
# dictionary of lists
dict = {'name':["Raju", "Rani", "John", "Max"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)
 
# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

0 name      Raju
degree     MBA
score       90
Name: 0, dtype: object

1 name      Rani
degree     BCA
score       40
Name: 1, dtype: object

2 name        John
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Max
degree    MBA
score      98
Name: 3, dtype: object

In [80]:
# create a series of date strings 
dt_series = pd.Series(['28 July 2020', '16 January 2013', 
                       '29 February 2016 18:14']) 
  
  
# display the series after being  
# converted to a time series 
print("\nSeries of date strings after" + 
       " being converted to a timeseries:") 
  
print(pd.to_datetime(dt_series))

Series of date strings after being converted to a timeseries:
0   2020-07-28 00:00:00
1   2013-01-16 00:00:00
2   2016-02-29 18:14:00
dtype: datetime64[ns]